WARNING:  database "postgres" has a collation version mismatch
DETAIL:  The database was created using collation version 2.41, but the operating system provides version 2.36.
HINT:  Rebuild all objects in this database that use the default collation and run ALTER DATABASE postgres REFRESH COLLATION VERSION, or build PostgreSQL with the right library version.
--
-- PostgreSQL database dump
--

\restrict dYsrml9DRQcaNggNTmntsNaOcdJc2j2VXitsjQ7jNcqlL9VdGwNSSTFw5r4x4CA

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg12+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg12+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conversation_messages; Type: TABLE; Schema: coexistence; Owner: postgres
--

CREATE TABLE coexistence.conversation_messages (
    id bigint NOT NULL,
    customer_id text NOT NULL,
    direction text NOT NULL,
    message_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT conversation_messages_direction_check CHECK ((direction = ANY (ARRAY['incoming'::text, 'outgoing'::text])))
);


ALTER TABLE coexistence.conversation_messages OWNER TO postgres;

--
-- Name: conversation_messages_id_seq; Type: SEQUENCE; Schema: coexistence; Owner: postgres
--

CREATE SEQUENCE coexistence.conversation_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE coexistence.conversation_messages_id_seq OWNER TO postgres;

--
-- Name: conversation_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: coexistence; Owner: postgres
--

ALTER SEQUENCE coexistence.conversation_messages_id_seq OWNED BY coexistence.conversation_messages.id;


--
-- Name: shown_products; Type: TABLE; Schema: coexistence; Owner: postgres
--

CREATE TABLE coexistence.shown_products (
    id bigint NOT NULL,
    customer_id text NOT NULL,
    sku text NOT NULL,
    shown_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE coexistence.shown_products OWNER TO postgres;

--
-- Name: shown_products_id_seq; Type: SEQUENCE; Schema: coexistence; Owner: postgres
--

CREATE SEQUENCE coexistence.shown_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE coexistence.shown_products_id_seq OWNER TO postgres;

--
-- Name: shown_products_id_seq; Type: SEQUENCE OWNED BY; Schema: coexistence; Owner: postgres
--

ALTER SEQUENCE coexistence.shown_products_id_seq OWNED BY coexistence.shown_products.id;


--
-- Name: conversation_messages id; Type: DEFAULT; Schema: coexistence; Owner: postgres
--

ALTER TABLE ONLY coexistence.conversation_messages ALTER COLUMN id SET DEFAULT nextval('coexistence.conversation_messages_id_seq'::regclass);


--
-- Name: shown_products id; Type: DEFAULT; Schema: coexistence; Owner: postgres
--

ALTER TABLE ONLY coexistence.shown_products ALTER COLUMN id SET DEFAULT nextval('coexistence.shown_products_id_seq'::regclass);


--
-- Name: conversation_messages conversation_messages_pkey; Type: CONSTRAINT; Schema: coexistence; Owner: postgres
--

ALTER TABLE ONLY coexistence.conversation_messages
    ADD CONSTRAINT conversation_messages_pkey PRIMARY KEY (id);


--
-- Name: shown_products shown_products_pkey; Type: CONSTRAINT; Schema: coexistence; Owner: postgres
--

ALTER TABLE ONLY coexistence.shown_products
    ADD CONSTRAINT shown_products_pkey PRIMARY KEY (id);


--
-- Name: idx_conversation_messages_customer_id; Type: INDEX; Schema: coexistence; Owner: postgres
--

CREATE INDEX idx_conversation_messages_customer_id ON coexistence.conversation_messages USING btree (customer_id, created_at);


--
-- Name: idx_shown_products_customer_id; Type: INDEX; Schema: coexistence; Owner: postgres
--

CREATE INDEX idx_shown_products_customer_id ON coexistence.shown_products USING btree (customer_id, shown_at);


--
-- PostgreSQL database dump complete
--

\unrestrict dYsrml9DRQcaNggNTmntsNaOcdJc2j2VXitsjQ7jNcqlL9VdGwNSSTFw5r4x4CA

